<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400&family=Josefin+Sans&display=swap"
  rel="stylesheet">

<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="back-circle"></div>
    <ion-title class="ion-text-center custom-font">RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <svg class="blob-center" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
    <path fill="#8BB8E8" d="M54.1,-47.7C66.6,-41.6,70.9,-20.8,66.3,-4.5C61.8,11.7,48.5,23.4,35.9,38.9C23.4,54.3,11.7,73.4,-1.8,75.2C-15.3,77,-30.5,61.4,-45.2,45.9C-59.9,30.5,-74,15.3,-71.7,2.3C-69.4,-10.6,-50.6,-21.2,-35.9,-27.3C-21.2,-33.4,-10.6,-35,5.1,-40.1C20.8,-45.2,41.6,-53.8,54.1,-47.7Z" transform="translate(100 100)" />
  </svg>

  <div class="slides ion-margin-bottom">
    <ion-slides>
      <ion-card>
        <!-- <ion-card-header>
          
        </ion-card-header> -->

        <ion-card-content>

          <ion-card-title class="rest-title">Recuperar contraseña</ion-card-title>
          <br>
          <form action="">
            <input class="rest-clave-input" type="email" placeholder="correo electronico">
            <input class="rest-clave-submit" type="submit" placeholder="enviar">
          </form>
        </ion-card-content>
      </ion-card>
    </ion-slides>
  </div>

</ion-content>

<ion-footer class="ion-no-border">

  <ion-toolbar>
    <p class="ion-text-center custom-font">¿Ya posees una cuenta?
      <ion-router-link (click)="nav_login()">Clickea aquí!</ion-router-link>
    </p>
  </ion-toolbar>

  <!-- <svg class="blob-footer" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
    <path fill="#8BB8E8" d="M27.6,-35.6C39.5,-23,55.3,-17.8,60.2,-7.9C65.1,1.9,59.1,16.3,48.7,22.4C38.4,28.6,23.7,26.6,13.3,25.6C3,24.6,-3,24.6,-16.2,27.3C-29.4,29.9,-49.9,35.3,-57,29.7C-64,24.1,-57.6,7.5,-49.5,-3.5C-41.4,-14.6,-31.5,-20.2,-23,-33.4C-14.4,-46.7,-7.2,-67.5,0.3,-67.9C7.9,-68.3,15.8,-48.3,27.6,-35.6Z" transform="translate(100 100)" />
  </svg> -->
</ion-footer>

<!-- <mat-toolbar color="primary">
  <span>RegistrAPP</span>
  <span class="example-spacer"></span>
  <button mat-icon-button (click)="nav_login()">
    <mat-icon>arrow_back</mat-icon>
  </button>
 </mat-toolbar>

<ion-content>
  <mat-card class="conteiner">
    <h2>
      Restablecer contraseña
    </h2>
    <br>

    <mat-form-field class="example-full-width" appearance="fill" >
      <mat-label >Nombre de usuario</mat-label>
      <input matInput
        placeholder="Ingrese su nombre de usuario">
    </mat-form-field>

    <button mat-raised-button color="primary">Enviar</button>
  </mat-card>
  

</ion-content> -->
