.custom-font {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}
//toolbar
.example-spacer {
    flex: 1 1 auto;
  }

ion-toolbar {
    --background: transparent;

    ion-title {
        padding: 20px 0 46px 0;
        font-weight: 900;
        color: #1A1A1A;
    }

    p {
        padding: 40px 0 20px 0;
        font-weight: 500;
    }

    .back-circle {
        z-index: -1;
        width: 200px;
        height: 200px;
        background: #ECA154;
        position: absolute;
        border-radius: 46%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

ion-content {
    .blob-center {
        z-index: -1;
        height: 558px;
        width: 548px;
        position: absolute;
        left: -50%;
        top: 30px;
    }

    form {
<<<<<<< HEAD
        margin-top: 95px;
=======
        margin-top: 50px;
>>>>>>> 85952ee2755cb36e49919e96a69436fa04fc875f
    }

    .login-container {
        background-color: rgba(255, 255, 255, .8);
        border-radius: 20px;
        margin-bottom: 26px;
        box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.12);
    }

    .input {
        display: block;
        width: 100%;
        background: transparent;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 15px;
        line-height: 1.2;
        border: none;
        outline: none;
    }

    .form-btn-container{
        display: flex;
        justify-content: center;
    }

    .form-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        min-width: 160px;
        height: 42px;
        background-color: #394752;
        border-radius: 20px;
        font-size: 14px;
        color: white;
        text-transform: uppercase;
        padding-top: 5px;
        transition: all 0.4s;
        box-shadow: 0 10px 30px 0 px rgba(57, 71, 82, 0.5);
    }

    .form-btn:hover {
        background-color: #28333b;
        box-shadow: 0 10px 30px 0px rgba(57,71,82,0.8);
    }
}
