//
.example-spacer {
    flex: 1 1 auto;
}

.animate__animated {
    .animate__slideInDown {
        --animate-duration: 0.5s;
    }
    .animate__slideOutLeft{
        --animate-duration: 3s;
    }
}


ion-toolbar {
    --background: transparent;

    ion-title {
        padding: 20px 0 46px 0;
        font-weight: 900;
        color: #1A1A1A;
    }

    p {
        padding: 40px 0 20px 0;
        font-weight: 500;
    }

    .back-circle {
        z-index: -1;
        width: 200px;
        height: 200px;
        background: #ECA154;
        position: absolute;
        border-radius: 46%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;

        bottom: 0;
    }

    .back-rectangle{
        z-index: -1;
            width: auto;
            height: 60px;
            background: #ECA154;
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            top: 0px;
            left: 0;
            right: 0;
    
            bottom: 0;
    }
}

ion-content {
    
    .blob-center {
        z-index: -1;
        height: 150%;
        width: 150%;
        position: absolute;
        top: 0px;
    }
    
    .select_buttons{
        margin-left:15px ;
        margin-top: 50px;
        width: 100px;
        height: 150px;
        border-radius: 5%;

        
    }

}

.home_content{
    margin-top: 10px;
    margin-left: 10px;

}

.boton {
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    background-color: #505d67;
    border-radius: 20px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    padding-top: 5px;
    transition: all 0.4s;
    box-shadow: 0 10px 30px 0 px rgba(57, 71, 82, 0.5);
}

.boton:hover {
    background-color: #28333b;
    box-shadow: 0 10px 30px 0px rgba(57,71,82,0.8);
}
.img{
    height: 80px;
}


