<mat-toolbar color="primary">
  <span>RegistrAPP</span>
  <span class="example-spacer"></span>
  <button mat-icon-button (click)="nav_login()">
    <mat-icon>arrow_back</mat-icon>
  </button>
 </mat-toolbar>

<ion-content>
  <mat-card class="conteiner">
    <h2>
      Restablecer contraseña
    </h2>
    <br>

    <mat-form-field class="example-full-width" appearance="fill" >
      <mat-label >Nombre de usuario</mat-label>
      <input matInput
        placeholder="Ingrese su nombre de usuario">
    </mat-form-field>

    <button mat-raised-button color="primary">Enviar</button>
  </mat-card>
  

</ion-content>
