ion-toolbar {
    --background: transparent;

    ion-title {
        padding: 20px 0 46px 0;
        font-weight: 900;
        color: #1A1A1A;
    }

    p {
        padding: 40px 0 20px 0;
        font-weight: 500;
    }

    .back-rectangle {
      z-index: -1;
      width: auto;
      height: 100px;
      background: #ECA154;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      top: 0px;
      left: 0;
      right: 0;

      bottom: 0;
    }

    
    
}
.picture{
    z-index: -1;
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 46%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    top: 50%;
    
}
.card {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;

    .user{
        width: 100px;
        height: 100px;
      }
      
      .header-image {
        background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        background-size: cover;
      }
  }
  
