<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400&family=Josefin+Sans&display=swap"
  rel="stylesheet">
<ion-menu side="end" menuId="menuMain" contentId="main" class="menu_sidebar">
  <ion-header>
    <ion-toolbar>
      <ion-title class="custom-font">Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>

      <ion-menu-toggle *ngFor="let i of menuItems | async">
        <ion-item class="clickable" [routerLink]="i.url" button>
          <mat-icon>{{ i.icon }}</mat-icon>
          {{ i.title }}
        </ion-item>
      </ion-menu-toggle>

      <!-- <p>
        <button mat-button>
          <mat-icon>home</mat-icon>
          Home
        </button>
      </p>
      <p>
        <button mat-button>
          <mat-icon>perm_identity</mat-icon>
          Profile
        </button>
      </p>
      <p>
        <button mat-button>
          <mat-icon>settings</mat-icon>
          Settings
        </button>
      </p>
      <p>
        <button mat-button routerLink="/login">
          <mat-icon>exit_to_app</mat-icon>
          Logout
        </button>
      </p> -->
    </ion-list>
  </ion-content>
</ion-menu>

