<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400&family=Josefin+Sans&display=swap"
  rel="stylesheet">
<ion-menu side="end" menuId="menuMain" contentId="main" class="menu_sidebar">
  <ion-header>
    <ion-toolbar>
      <ion-title class="custom-font">Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>

      <ion-menu-toggle *ngFor="let i of menuItems | async">
        <ion-item *ngIf="i.title == 'Logout'" (click)="logout()" class="clickable" [routerLink]="i.url" button>
          <mat-icon>{{ i.icon }}</mat-icon>
          {{ i.title }}
        </ion-item>

        <ion-item *ngIf="i.title != 'Home'" class="clickable" [routerLink]="i.url" button>
          <mat-icon>{{ i.icon }}</mat-icon>
          {{ i.title }}
        </ion-item>

        <ion-item *ngIf="i.title != 'Profile'" class="clickable" [routerLink]="i.url" button>
          <mat-icon>{{ i.icon }}</mat-icon>
          {{ i.title }}
        </ion-item>

      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>

