<ion-menu side="end" menuId="menuMain" contentId="main">
  <ion-header>
    <ion-toolbar class="side-menu">
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        Home
        <mat-icon>home</mat-icon>
      </ion-item>
      <ion-item>
        Profile
        <mat-icon>perm_identity</mat-icon>
      </ion-item>
      <ion-item>
        Settings
        <mat-icon>settings</mat-icon>
      </ion-item>

      <ion-item>
        Logout
        <mat-icon>exit_to_app</mat-icon>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-menu>