//
.example-spacer {
    flex: 1 1 auto;
}
.custom-font {
    font-family: 'Josefin Sans', sans-serif;
}

.animate__animated {
    .animate__slideInDown {
        --animate-duration: 0.5s;
    }
    .animate__slideOutLeft{
        --animate-duration: 3s;
    }
}


ion-toolbar {
    --background: transparent;

    ion-title {
        padding: 20px 0 46px 0;
        font-weight: 900;
        color: #1A1A1A;
    }

    p {
        padding: 40px 0 20px 0;
        font-weight: 500;
    }

    .back-circle {
        z-index: -1;
        width: 200px;
        height: 200px;
        background: #ECA154;
        position: absolute;
        border-radius: 46%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;

        bottom: 0;
    }

    .back-rectangle{
        z-index: -1;
            width: auto;
            height: 60px;
            background: #ECA154;
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            top: 0px;
            left: 0;
            right: 0;
    
            bottom: 0;
    }
}

ion-content {
    .blob-center {
        z-index: -1;
        height: 500px;
        width: 548px;
        position: absolute;
        left: -50%;
        top: 0;
    }
    .card{
        border-radius: 10%;
        margin-top: 30px;
        background: linear-gradient(to right, rgb(197, 198, 225), rgba(255, 122, 89,0));
        width: 400px;
        height: 400px;
        
    }
    .select_buttons{
        margin-left:15px ;
        margin-top: 50px;
        width: 100px;
        height: 150px;
        border-radius: 5%;

        
    }

}

.home_content{
    margin-top: 10px;
    margin-left: 10px;
    
    

}
