<app-header no-border>
  
</app-header>
<app-menu></app-menu>


<ion-content [fullscreen]="true">
  
  <mat-card class="conteiner">
    <mat-chip-list aria-label="Fish selection">
      <h4>Bienvenido/a</h4> <p></p>
      <mat-chip href="animate.min.css">
        <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="user"/>
        {{user}}
      </mat-chip>
    </mat-chip-list>
    <h1 class="animate__animated animate__bounce">An animated element</h1>
    
    

  </mat-card>
  
  
</ion-content>
